<div class="fit block full-width">
  <div class="preis-tag center">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="monatlich" aria-label="monatlich">
        <h4 class="zahlweise">monatlicher Beitrag</h4>
        <h3 class="preis-big">
          {{beitrag?.beitragMonatlich | currency:'EUR':'symbol' | split}}</h3>
      </mat-button-toggle>
      <mat-button-toggle [checked]="true" value="einmalig" aria-label="einmalig">
        <h4 class="zahlweise">einmaliger Beitrag</h4>
        <h3 class="preis-big">{{beitrag?.beitragJaehrlich | currency:'EUR':'symbol' | split}}</h3>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
