<div class="clearfix">
  <div class="sm-col sm-col-12 pl1 pr1 mb1">
    <h2 class="center mb3">
      IMPRESSUM
    </h2>
    <p class="headline center">ANGABEN GEMÄSS § 5 TMG:</p>
<p class="center pl1 pr1 mb2">
Probezeitversicherung ist ein Projekt der 71circles GmbH<br /><br />
Gabelsbergerstraße 4<br />
80333 München<br /><br />
Telefon: +49 (0)89 215394710<br />
E-Mail: team@71circles.com<br />
Website: www.71circles.com
    </p>
    <p class="center pl1 pr1 mb2">
Vertretungsberechtigte/r Geschäftsführer/in: Robert Weidinger<br />
Registernummer: HRB 235172<br />
Registergericht: Amtsgericht München<br />
Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: DE313736319<br />
    </p>
  </div>
</div>
