<div style="display: flex; flex-wrap: wrap;">
  <div class="inline-block rechner mb1">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Dein Beitrag</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <form class="example-form">
      <div>
        <mat-form-field class="example-full-width">
          <input
            type="text"
            name="beruf"
            placeholder="Wähle Deinen Beruf"
            aria-label="Number"
            matInput
            [ngModel]="beruf$ | async"
            (ngModelChange)="setBeruf($event)"
            [matAutocomplete]="auto" />
            <mat-icon matSuffix>build</mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let beruf of berufeFiltered$ | async" [value]="beruf.name">
              {{beruf.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          appPreventChars
          autocomplete="off"
          placeholder="Dein Netto-Gehalt"
          [ngModel]="gehalt$ | async"
          (ngModelChange)="setGehalt($event)"
          name="gehalt">
          <mat-icon matSuffix>euro_symbol</mat-icon>
      </mat-form-field>
      </div>
      <div>
        <mat-checkbox name="eigeneKinder" class="example-margin" (ngModelChange)="setEigeneKinder($event)" [ngModel]="eigeneKinder$ | async">eigene Kinder</mat-checkbox>
      </div>
    </form>
  </mat-card-content>
  <mat-card-content>
    <div class="preis-tag">
      <h5 class="preis-small">einmalig</h5>
      <h1 class="preis-big">{{beitragFinal$ | async | currency:'EUR':true | split}}</h1>
      <h4 class="preis-small" *ngIf="beitragMonatlich$ | async">(monatlich: {{beitragMonatlich$ | async | currency:'EUR':true}})</h4>
      <h4 class="preis-small" *ngIf="!(beitragMonatlich$ | async)">&nbsp;</h4>
    </div>
  </mat-card-content>
  </mat-card>
  </div>
  <div class="inline-block leistung">
  <mat-card class="card" style="background-color: #E3F2F3;">
    <mat-card-header>
      <mat-card-title>Dein Benefit</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mb05">staatliche Leistung (ALG I)</p>
    <h3 class="mt0">{{alg$ | async | currency:'EUR':true}}</h3>
    <p class="mb05">Unsere monatliche Leistung</p>
    <h3 class="mt0">{{leistungMonatlich$ | async | currency:'EUR':true}}</h3>
    <p class="mb05">Unsere Gesamtleistung im <br />Kündigungsfall</p>
      <h3 class="mt0">{{leistungGesamt$ | async | currency:'EUR':true}}</h3>
    </mat-card-content>
    </mat-card>
  </div>
  </div>
