<div class="sm-col">
  <p class="headline center">Unsere Story</p>
</div>
<div class="sm-col">
  <img width="100%" class="mb1 mt1" src="assets/chance.jpg" />
  <p class="mb1 p2">Du hast einen spannenden neuen Job entdeckt und möchtest am liebsten gleich in einen neuen
    Lebensabschnitt starten?</p>
</div>
<div class="sm-col p2">
  <h2 class="center">Erster Schritt geschafft</h2>
  <p class="mb1 mt1">Das Vorstellungsgepräch lief spitze und Du hast nun einen Arbeitsvertrag. Der neuen
    Herausforderung steht
    nichts mehr im Weg.</p>
</div>
<div class="sm-col">
  <h2 class="center">Sorgen</h2>
  <img width="100%" class="mb1 mt1" src="assets/sad.jpg" />
</div>
<div class="sm-col p2">
  <p>Die Vorfreude wird von einer kleinen Sorge getrübt.</p>
  <p>Was wenn es nicht passt?<br />
    Was wenn während der Probezeit etwas schief läuft?<br />
    Oder Du einfach krank wirst?
  </p>
  <p class="mb1">
    Der sichere Hafen ist dann in weiter Ferne!
  </p>
</div>
<div class="sm-col p2">
  <p class="headline center">Die Lösung - Switch Safe</p>
</div>
<div class="sm-col p2">
  <p class="mt1">Bis zum letzten Tag vor Antritt Deines neuen Jobs kannst Du Dich bei uns gegen eine Kündigung
    seitens des
    Arbeitgebers während der Probezeit versichern!
  </p>
</div>
