.inline-block {
  display: inline-block;
}

.rechner {
  margin-right: 1rem;
}

.preis-big, .preis-small {
  margin: 0;
}

.preis-tag {
  margin: 2rem;
}

.card {
  height: 270px;
}

.mt0 {
  margin-top: 0;
}

.mb05 {
  margin-bottom: 0.5rem;
}

