<div class="sm-col-12 md-col-6 mx-auto">
  <div class="header">
    <button class="left" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu style="z-index: 1002;" #menu="matMenu">
      <button (click)="scroll('mehr')" mat-menu-item>
        <mat-icon>loop</mat-icon>
        <span>So funktionierts</span>
      </button>
      <button (click)="scroll('abschluss')" mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Abschließen</span>
      </button>
      <button (click)="scroll('andere')" mat-menu-item>
        <mat-icon>mic</mat-icon>
        <span>Das sagen andere</span>
      </button>
    </mat-menu>
    <div class="">
      <img height="40px" style="margin-top:5px;" class="left mr1" src="assets/shield.png" />
      <div class="left">
        <section class="mat-h1 center" style="font-weight: 800;margin-bottom: -5px;">Switch Save</section>
        <section class="mat-h4">Wage den Sprung</section>
      </div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
    <div class="sm-col-12 center mb1 mt2">
      <button class="block" (click)="openDatenschutz()" mat-flat-button color="accent">Datenschutz</button>
    </div>
    <div class="sm-col-12 center mb4">
      <button class="block" (click)="openImpressum()" mat-stroked-button color="accent">Impressum</button>
    </div>
  </div>
</div>
